<div class="mdl-card mdl-shadow--2dp card snippet-card">
    <div class="mdl-card__title">
        <a href="/{{slugify title}}"><h2 class="mdl-card__title-text">{{title}}</h2></a>
    </div>
    <div class="mdl-card__supporting-text">
        {{{markdown content}}}
        {{#if links}}
            <h4>Links</h4>
            <ul>
                {{#each links}}
                    <li><a href="{{this}}" target="_blank" rel="noopener">{{this}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if this.bonus}}
            <details>
                <summary><h4 style="display: inline;">Bonus</h4></summary>
                {{{markdown this.bonus}}}
            </details>

        {{/if}}
    </div>
    <div class="mdl-card__actions mdl-card--border snippet-footer">
        <div>
            {{#each tags}}
                <span class="mdl-chip">
     <span class="mdl-chip__text">
         <!-- TODO:  There should be a better way-->
         {{#if this.name}}
             <a href="/tags/{{slugify this.name}}">{{this.name}}</a>
         {{else}}
             <a href="/tags/{{slugify this}}">{{this}}</a>
         {{/if}}
     </span>
    </span>
            {{/each}}
        </div>

        <div class="author">
            {{#if this.author}}
                <a class="github-button"
                   href="http://github.com/{{author}}"
                   aria-label="Follow @{{author}} on GitHub"
                   data-show-count="true"
                   target="_blank" rel="noopener">Follow @{{author}}</a>
            {{/if}}
            {{#if this.twitter}}
                <a class="twitter-follow-button"
                   href="https://twitter.com/{{twitter}}"
                   aria-label="Follow @{{twitter}} on Twitter"
                   data-show-count="true"
                   target="_blank" rel="noopener"></a>
            {{/if}}
        </div>
    </div>
    <div class="mdl-card__menu">
        <a href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw"
           class="twitter-hashtag-button"
           data-hashtags="30SecondsOfAngular"
           data-text="✨✨ {{title}} | 30 Seconds of Angular&#010;https://30.codelab.fun/{{slugify title}}"></a>
    </div>
</div>
