{{#> head }}
    <title>{{site.title}} slides</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@shower/material@2.2.1/styles/styles.css">
    <style>
        .shower {
            --slide-ratio: calc(16 / 14);
            --color-key: rgb(255,64,129);
        }

        .code-snippet code, .code-snippet p, .code-snippet li {
            font-size: 20px;
            line-height: 30px !important;
        }

        .code-snippet li {
            margin-left: 24px;
        }

        .with-list li {
            font-size: 32px;
            line-height: 1.5;
        }

        .with-list ul {
            margin-left: 130px;
        }

        .slide {
            padding: 24px;
            background: #fff url("public/img/logo_beta.png") no-repeat right bottom;
            background-size: 200px;
        }

        .slide h2 {
            font-weight: normal;
            line-height: 1.2;
        }

        section p {
            font-size: 40px;
            line-height: 1.2;
        }

        p.spaced {
            margin-top: 2em;
        }
    </style>
{{/head}}
{{#> body bodyClass="shower list" hideHeader=true }}
    <header class="caption">
        <a href="/slides/">
            <h1>{{site.title}}</h1>
            <p>beta</p>
        </a>
    </header>


    <section class="slide with-list ">
        <img src="public/img/logo.png" class="cover" alt="{{site.title}}">
    </section>

    <section class="slide with-list ">
        <h2>{{site.title}}</h2>
        <p style="padding: 2em;">Curated collection of Angular related tips and snippets,
            each of which can be understood in 30 seconds or less and would make you a better developer.</p>
    </section>

    {{#each (filterAndOrderForPresentation snippets) }}
        <section class="slide code-snippet">
            <h2>{{title}} (<a href="https://30.codelab.fun/{{slugify title}}" target="_blank">demo</a>)</h2>
            {{{markdown content}}}
        </section>
    {{/each}}


    <section class="slide with-list ">
        <h2>Thanks everybody who contributed</h2>
        <ul style="column-count: 2">
            {{#group snippets by="author"}}
                <li>@{{value}}</li>
            {{/group}}
        </ul>
        <h2>Special thanks to</h2>
        <ul>
            <li>Stefan Fejes</li>
            <li>Tierney Cyren</li>
            <li>Angelos Chalaris</li>
        </ul>

    </section>

    <section class="slide">
        <h2>Links and contacts</h2>

        <p><a href="http://30.codelab.fun">30.codelab.fun</a></p>
        <p>GitHub <a href="https://github.com/30-seconds/30-seconds-of-angular">30-seconds/30-seconds-of-angular</a></p>
        <p>Twitter <a href="https://twitter.com/30sec_angular">@30sec_angular</a></p>
        <p style="text-align: center" class="spaced">
            <img src="public/img/twitter_qr_code.png" alt="">
        </p>
    </section>


    <div class="progress"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/shower-core/2.1.0/shower.min.js"></script>
{{/body}}
