{{#> head}}
    <style>
        .demo-card iframe {
            width: 100%;
            min-height: 50vh;
        }

        .demo-card {
            height: 100%;
        }
    </style>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@30sec_angular">
    <meta name="twitter:title" content="✨ 30 Seconds of Angular: {{title}} ✨">
    <meta name="twitter:text:title" content="✨ 30 Seconds of Angular ✨">
    <meta name="twitter:description" content="{{title}}">
    <meta name="twitter:image" content="{{site.base}}{{slugify title}}/preview.png">
    <meta name="twitter:image:alt" content="30 seconds of angular">
    <title>✨ {{title}} - {{site.title}}</title>
{{/head}}

{{#> body}}

{{!--
This comment prevent indenting snippets which breaks code examples.
--}}{{>snippet}}

{{#if (hasCode this)}}
    <div class="mdl-card mdl-shadow--2dp card demo-card">
        <iframe src="https://codelab.fun/angular/playground?hideControls=true&milestone=any&code={{codeToBase64 this}}"></iframe>
    </div>
{{/if}}
{{/body}}
